ACTION=="add", SUBSYSTEM=="backlight", KERNEL=="{{ backlight_dir }}", RUN+="/bin/chgrp video /sys/class/backlight/%k/brightness"
ACTION=="add", SUBSYSTEM=="backlight", KERNEL=="{{ backlight_dir }}", RUN+="/bin/chmod g+w /sys/class/backlight/%k/brightness"
